<h2 id="profileHeader">Profile for {{ pokemon.name }}</h2>
<div>
<table id="pokemonInformation" class="table table-striped">
    <tr>
        <td>Name:</td>
        <td>{{ pokemon.name }}</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>{{ pokemon.type }}</td>
    </tr>
    <tr>
        <td>Weakness:</td>
        <td>{{ pokemon.weakness }}</td>
    </tr>
    <tr>
        <td>Evolved Into:</td>
        <td>{{ pokemon.einto }}</td>
    </tr>
</table>
</div>
